:root{
    --blanco:#fff;
    --amarilloClaro:#fdeba9;
    --amarillo:#f6d76b;
    --naranja:#ff9036;
    --fucsia:#ff5475;
    --carmin:#d6254d;
    --granate:#8b0000;
    --negro:#000;
}
/*Reseteo*/
*{
    margin: 5px;
    padding: 0px;
}
body{
    a:link, a:visited, a:hover, a:active{
        text-decoration: none;
        color: var(--carmin);
    }
    header{
        h1{
            text-align: center;
            color: var(--amarilloClaro);
            background-color: var(--fucsia);
            border-radius: 50px;
            border: 2.5px solid var(--granate);
        }
    }
    nav{
        h2{
            color: var(--carmin);
        }
        a:link, a:visited, a:hover, a:active{
            color: var(--fucsia);
            background-color: var(--amarillo);
            text-align: center;
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
        }
    }
    main{
        table{
            width: 100%;
            border-collapse: collapse;
            border: 1px solid var(--negro);
            tr{
                >*{
                    border: 1px solid var(--negro);
                }
                th{
                    padding: 5px;
                    color: var(--naranja);
                    width: min-content;
                }
                td.eje{
                    padding: 2.5px 5px;
                    width: min-content;
                }
            }
        }
    }
    footer{
        background-color: var(--blanco);
        color: var(--naranja);
        border-radius: 10px;
        border: 2.5px solid var(--amarilloClaro);
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
    }
}